extends page.pug

block content
	.container-fluid
		.jumbotron
			h2= name
			p from path to path
			p
				a.btn.btn-primary.btn-lg(href="#", role="button") What do you think?
		h2 Subjies
		each subjy in subjies
			p <a href="/#{subjy.id}">#{subjy.name}</a>
		h2 Tags
		each tag in tags
			p <a href="/tags/#{tag.id}">#{tag.name}</a>
		h2 Authors
		each author in authors
			p <a href="/authors/#{author.id}">#{author.name}</a>