extends page.pug

block content
	.container-fluid
		.jumbotron
			h2= title
			p from path to path
			p
				a.btn.btn-primary.btn-lg(href="#", role="button") What do you think?
		each subjy, index in subjies
			p <a class='author'>#{subjy.author.t}</a> thinks that <a href="/#{subjy.author.s}/subjies/#{subjy.subject.s}">#{subjy.title}</a>