include svg

mixin subjy-header(subj, edit)
	blockquote(class="subjy-header", style="#{subj ? '':'background-color:black;'}")
		link(href='http://fonts.googleapis.com/css?family=Pirata+One' rel='stylesheet' type='text/css')
		.quote
			+svg("quote", "subjy-icon")
			if subj
				h4.subject /#{subj.subject}
			if subj
				if !edit
					a(href="/chico/subjies/#{subj.subject}")
						p(class="title text", style="font-family: 'Pirata one', 'Georgia'") #{subj.title}
				if edit
					- title = subj.title ? subj.title : 'Insert title'
					p(class="title text", data-name="title" style="font-family: 'Pirata one', 'Georgia'") #{title}
			else
				a.popup(data-popup="#create-content", href="#create")
					p.create.title Créez votre propre /subjy
			if subj
				cite @#{subj.author || 'Chico'}
		.mask
			+svg("arrow", "subjy-arrow")